* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  overflow-x: hidden;
}

:root {
  --primary-blue: #1e3a8a; 
  --secondary-blue: #1e40af; 
  --text-gray: #4b5563; 
  --light-gray: #f3f4f6; 
  --border-gray: #d1d5db;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-section {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
}

header::before {
  content: "";
  display: block;
  height: 73px;
}


header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7vw;
  min-height: 20vw;
}

.profile-info {
}

.mobile-header {
  position: fixed;
  padding: 10px;
  top:0;
  left: 0;
  z-index: 9;
}

.profile-info-mobile {
    padding: 40px 20px;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    background-color: white;
    z-index: 10;
    height: 120vh;
    transition: all 0.3s ease-in-out;
    max-width: 100vw;
  }

  .opened {
    left: 0;
  }

  .open-menu {
    z-index: 9;
    padding: 15px;
    background: transparent;
    cursor: pointer;
    border-radius: 99px;
  }

  .close-menu {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 15px;
    background: transparent;
    cursor: pointer;
    border-radius: 99px;
  }

.header-title {
  color: var(--primary-blue);
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.header-text {
  color: var(--text-gray);
  text-align: center;
}

.about-me {
  text-align: left;
  text-justify: distribute;
}

.profile-image-wrapper {
  position: fixed;
  max-width: 40vw;
  padding: 2vw 0;
  transition: all 500ms ease-in-out;
  top: calc(40vw + 87px);
}

.profile-image-wrapper-placeholder {
  padding: 2vw 0;
  max-width: 40vw;
  width: 40vw;
  height: 40vw;
}

.scrolling {
  top: 2vw;
}

.image-spin-bg {
  position: absolute;
  width: 100%;
  transform: scale(1.5);
  animation: spin 20s linear infinite;
}

.profile-avatar {
  position: relative;
  width: 100%;
  border-radius: 9999px;
  transition: all 500ms ease;
  border: 0.3vw solid var(--border-gray);
  box-shadow: 0 0 0 0px var(--secondary-blue);
  z-index: 1;
}

footer {
  margin-top: 500px;
  height: 400px;
  height: 25vh;
}

footer div {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  from { transform: scale(1.5) rotate(0deg); }
  to { transform: scale(1.5) rotate(360deg); }
}

.projects-heading {
  margin-top: 160px;
  margin-bottom: 32px;
  font-size: 30px;
  font-weight: 600;
  color: var(--secondary-blue);
  text-align: center;
}

.projects-grid {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  justify-content: center;
}

.project-card {
  display: block;
  background-color: var(--light-gray);
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 600px;
  text-decoration: none;
  transition: transform 70ms ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.project-image {
  width: 100%;
  border-radius: 0.5rem;
  height: auto;
}

.project-name {
  padding: 0.25rem 0;
  font-size: 1.125rem;
  color: var(--primary-blue);
}

.project-description {
  font-size: 0.875rem;
  color: #374151;
}

.desktop-only {
  display: none;
}

@media (min-width: 1024px) {
  header {
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
  }
  
  .projects-heading {
    text-align: center;
  }

  .profile-info {
    width: 18vw;
  }

  header::before {
    display: none;
  }

  .project-card {
    max-width: 460px;
  }

  .header-title { 
    font-size: 2vw; 
  }
  .header-text { 
    font-size: 1.2vw; 
    font-weight: 500;
  }

  .profile-image-wrapper {
    width: 12vw;
    top: 2vw;
  }

  .profile-image-wrapper-placeholder {
      width: 12vw;
      height: 12vw;
  }

  .projects-grid {
    justify-content: space-between;
  }

  .mobile-only { display: none; }
  .desktop-only { display: block; }
}

@media (min-width: 1280px) {
.header-title { font-size: 2vw; }
  .header-text { font-size: 1vw; }

  .project-card {
    max-width: 500px;
  }
}