* {
  box-sizing: border-box;
}

html,
body,
ul {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header,
section,
footer {
  padding: 0 20px;
}

header {
  height: 60px;
  position: fixed;
  z-index: 10;
  width: 100%;
  left: 0;
  top: 0;
  transition: all 0.3s ease;
}

.scrolled {
  background-color: white;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
}

header.scrolled nav ul li {
  color: black;
}

nav {
  height: inherit;
}

.header-links {
  height: inherit;
  display: inline-block;
  padding: 0;
  display: none;
}

.header-links-mobile {
  display: inline-block;
  margin-top: 10px;
}

.header-links-mobile ul {

  list-style: none;
}

.header-links-mobile-container {
  position: fixed;
  top: 0;
  left: -200px;
  height: 100vh;
  background-color: white;
  padding: 20px;
  transition: all 0.5s ease-in-out;
}

.opened {
  left: 0px;
}

.header-links-mobile-container ul {
  position: relative;
}

.header-links-mobile-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 8px;
  z-index: 10;
}

.header-links-mobile ul li {
  text-decoration: none;
}

.header-links-mobile ul li {
  line-height: 60px;
  margin: 0 15px;
  cursor: pointer;
}

.header-links li {
  display: inline-block;
  line-height: 60px;
  margin: 0 15px;
  cursor: pointer;
}

.header-links li:hover {
  text-decoration: underline;
}

.mainHero {
  min-height: 50vw;
  width: 100%;
  background-image: url("bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 30%;
  overflow: hidden;
  border-radius: 0 0 20px 20px;
}

@media (min-width: 1921px) {
  .mainHero {
    min-height: 960px;
  }
}

button {
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgb(139, 139, 139);
}

.navButton {
  float: right;
  margin-top: 10px;
}

.articles-button {
  float: right;
  margin-top: 26px;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
}

.hero-text {
  width: auto;
  display: inline-block;
}

h1,
h3,
p {
  text-shadow: 0 0 33px black;
}

p {
  font-weight: 600;
  font-size: 14px;
}

.hero-title {
  padding-top: 200px;
  font-size: 28px;
  font-weight: 600;
  margin: 0;
}

.text-white {
  color: white;
}

.articlesSection {
  padding-top: 80px;
}

h2 {
  font-size: 32px;
  display: inline-block;
}

h3 {
  font-size: 32px;
  margin: 10px 0;
}

.article-card {
  padding: 20px;
  position: relative;
  overflow: hidden;
  width: 320px;
  height: 400px;
  background-color: rgb(0, 0, 0, 0.2);
  margin: 0 25px 0 0;
  display: inline-block;
  border-radius: 20px;
}

.article-card:last-child {
  margin-right: 0;
}

.bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: transform 0.4s ease;
}

.article-card:hover .bg-img {
  transform: scale(1.2);
}

.article-arrow {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 12px 15px;
  border-radius: 100%;
  background-color: white;
  display: inline-block;
  border: 1px solid rgb(139, 139, 139);
  cursor: pointer;
}

.article-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 20px;
}

.popular-now-title {
  font-size: 16px;
  margin-top: 30px;
  text-shadow: none;
  display: inline-block;
}

.line {
  width: 50%;
  float: right;
  margin-top: 39px;
  border-top: 1px solid rgb(211, 211, 211);
}


.popular-article-card {
  display: inline-block;
  width: 320px;
  margin: 0 25px 0 0;
  border-right: 1px solid rgb(211, 211, 211);
}

.popular-article-card:last-child {
  margin-right: 0;
}

.popular-article-card span {
  font-weight: 400;
  color: rgb(107, 107, 107);
}

.popular-article-card p {
  text-shadow: none;
}

footer {
  margin-top: 60px;
  background-color: black;
  padding: 30px 20px 100px 20px;
}

form {
  border-radius: 30px;
  background-color: white;
  padding: 2px;
  max-width: 474px;
  min-height: 42px;
}

input {
  all: unset;
  max-width: 40vw;
}

.email-input {
  margin-top: 10px;
  padding-left: 20px;
}

.submit {
  cursor: pointer;
  float: right;
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-weight: 600;
  border-radius: 30px;
}

.laptop-image {
  display: none;
  width: 500px;
  height: 500px;
  position: absolute;
  right: 0;
  top: -80px;
  max-width: 35vw;
  object-fit: contain;
}

@media (min-width: 768px) {
  .line {
    width: 85%;
  }

  .header-links {
    display: inline-block;
  }

  .header-links-mobile {
    display: none;
  }

  .hero-title {
    font-size: 48px
  }

  p {
    font-size: 16px;
  }

  .hero-text {
    width: 53%;
  }

  .laptop-image {
    display: block;

  max-width: 35vw;
  }
}